<div class="banner" style="background-image: url('<%=cl_image_path @list.photo.key%>')">
  <h1><%= @list.name %></h1>
  <%= link_to "All Lists", root_path , class:"btn btn-success add-movie-btn" %>

  <p class="btn btn-warning total-movies"><%= @list.movies.length %> movies</p>
</div>


<%# <%= link_to "Add Movie", new_list_bookmark_path(@list), class:"btn btn-secondary add-movie-btn" %>
<div class="movies">
  <%@list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(movie:movie, list:@list) %>
  <div class="movie">
    <div class="image" style="background-image: url('https://image.tmdb.org/t/p/w500<%=movie.poster_url%>');"></div>
    <div class="content">
      <div class="title-container">
        <h3><%= movie.title %></h3>
        <h3 class="stars">⭐️</h3>
        <h3 class="rating"><%= movie.rating %></h3>
      </div>
      <%# <p><%=movie.overview %></p>
      <div class="bookmark">
      <i class="fa-sharp fa-solid fa-quote-left quote-sign"></i>
      <h5> <%= bookmark.comment %></h5>
      <%= link_to "Delete" , bookmark_path(bookmark.id), data: {turbo_method: :delete}, class:"delete-button"%>
    </div>
    </div>
    <div class="content-container hidden">
      <p><%=movie.overview %></p>
    </div>
  </div>
<%end %>
</div>
<div class="separator-container"></div>
<div class="bottom-container">

  <div class="bookmark-form">
  <h2>Add a Movie</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
      <%= f.association :movie, prompt: "Select a movie", input_html: {data: { controller: "tom-select"}} %>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="vertical-container"></div>
  <div class="reviews-container">
    <h2>Reviews</h2>
    <% @list.reviews.each do |review| %>
    <div class = "review-container">
      <div class="stars-container">
        <% count = review.stars %>
        <% i = 0  %>
        <% while i < count %>
        <p class ="review-star">⭐️</p>
        <% i += 1 %>
        <% end %>
      </div>
      <p class ="review-text"><%= review.comment %></p>
    </div>
    <% end %>
  </div>
    <div class="add-review-form">
      <h2>Add a Review</h2>
      <%= simple_form_for [@list, @review] do |f| %>
        <%=f.input :comment, placeholder: 'Write review'  %>
        <%= f.input :stars %>
        <%= f.submit class: "btn btn-success" %>
      <% end %>
    </div>
</div>



<style>

.hidden{
  /* overflow: hidden; */
}

.movie{
  cursor:grab;
  margin-right:30px;
  margin-bottom:60px;
  box-shadow: 10px 11px 7px 2px rgba(0,0,0,0.1);
  position: relative;
  transition:all 0.7s ease;
}

.movie:hover .hidden{
  padding:15px;
  height:74%;
  display:block;
  overflow-y:auto;

}

.content-container{
  background-color: rgba(255, 255, 255, 0.7);
  position:absolute;
  width:100%;
  height:0;
  top:0%;
  overflow: hidden;
  transition:all 0.5s ease;

}

.content-container p{
  font-size:20px;
  line-height:2;
  font-style:italic;
}
.vertical-container{
  margin-top:30px;
  border-left:1px solid grey;
  height:300px;
}

.add-review-form{
  width:30%;
  margin-top:30px;
}

.stars-container{
  display:flex;
}
.review-text, .review-star{
  font-size:18px;
}
.review-star{
  margin-bottom:0px;
}
.review-text{
  margin-bottom:5px;
}
.review-container{
  margin-top:10px;
  width:90%;
  border-bottom:1px solid #d2d2d2;
}
.bottom-container{
  display:flex;
  justify-content:space-between;
}
.delete-button{
  color:red;
  text-decoration: none;
}
.stars{
  margin-left:30px;
}

.title-container{
  display:flex;
}
.title-container .rating{
  letter-spacing:2px;
}

.bookmark-form, .reviews-container{
  margin:40px 30px;
  width:30%;
  /* overflow-y:auto; */

}

.reviews-container{
  height:300px;
  width:35%;
  overflow-y:auto;


}

.separator-container{
  width:97%;
  margin-left:30px;
  border-top: 2px solid grey;
}

.add-movie-btn{
  position:absolute;
  left: 82%;
  top: 6%;
  color: white;


}
.total-movies{
  position:absolute;
  left:90%;
  top:6%;
  color:white;

}

.quote-sign{
  margin-right:10px;
}
.bookmark{
  display:flex;

}


.image{
  height:300px;
  width:500px;

}
.movies{
  margin:50px;
  display:flex;
  width:100%;
}
.content{
  padding:10px;
  width:500px;
  /* position:absolute; */

}

.banner{
   background-size: cover;
  width:100%;
  height:400px;
  position:relative;
}

p{
  font-size:13px;
}

h5{
  margin-right:30px
}

h1{
  color:white;
  position:absolute;
  font-weight:bolder;
  font-size:50px;
  letter-spacing:2px;
  top:50%;
  right:40%;

}
</style>
